<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Meanbee\PWA\Helper\Config">
        <arguments>
            <argument name="serviceWorkerUrlParamName" xsi:type="string"><![CDATA[service_worker]]></argument>
        </arguments>
    </type>
</config>
